:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

svg.nav-bar:hover {
  fill: #ffffff;
}

.main-chat-panel {
  overflow-y: auto;
}

.message {
  border-style: solid;
  max-width: 30%;
  min-width: 0%;
  width: auto;
  overflow-wrap: break-word;
  display: inline-block;
  text-align: left;
  margin: 1% 1%;
  padding: 0.5% 0.5%;
  font-size: 25px;
}

.user-profile {
  width: 3%;
  display: inline-block;
  margin: 1% 0% 1% 1%;
  object-fit: contain;
  vertical-align: top;
}

.bg-login {
  background: linear-gradient(
    90deg,
    #5e8b6f 0%,
    #5e8b6f 15%,
    #fcbc59 15%,
    #fcbc59 20%,
    #ffffff 20%,
    #ffffff 80%,
    #fcbc59 80%,
    #fcbc59 85%,
    #5e8b6f 85%,
    #5e8b6f 100%
  );
  width: 100%;
  height: 98vh;
  overflow-y: hidden;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

.login-page {
  flex-direction: column;
  align-items: center;
  width: 50%;
  display: flex;
  font-family: "DBHeaventCondBold";
}

/**/

.input-bar {
  transition: 0.1s;
  width: 100%;
  margin: 10% 1% 1% 1%;
  padding-bottom: 2%;
  color: #5e8b6f;
  background-color: transparent;
  box-sizing: border-box;
  border: 0;
  border-bottom: 2px solid #5e8b6f;
  &::placeholder {
    color: transparent;
  }
  &:placeholder-shown ~ .input-label {
    top: 40%;
    color: #5e8b6f;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid #fcbc59;
  }
  &:focus ~ .input-label {
    top: 20%;
  }
}

.input-label {
  top: 20%;
  position: absolute;
  transition: 0.1s;
  font-size: 120%;
  color: #fcbc59;
  left: 0;
  height: 120%;
}

.button-cs {
  background-color: #5e8b6f;
  border: 5px solid #5e8b6f;
  margin: 5% 0% 0% 0%;
  border-radius: 5px;
  width: 50%;
}

.button-cs:hover {
  background-color: #fcbc59;
  border: 5px solid #fcbc59;
}

div.login-status {
  font-size: 120%;
  height: 10%;
}

.failed {
  color: #be2525;
}
.success {
  color: #5e8b6f;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .bg-login {
    background: linear-gradient(
      0deg,
      #5e8b6f 0%,
      #5e8b6f 2%,
      #fcbc59 2%,
      #fcbc59 4%,
      #ffffff 4%,
      #ffffff 96%,
      #fcbc59 96%,
      #fcbc59 98%,
      #5e8b6f 98%,
      #5e8b6f 100%
    );
    width: 100%;
    height: 98vh;
    overflow-y: hidden;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .login-page {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
    font-family: "DBHeaventCondBold";
  }
}
