:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

svg.nav-bar:hover {
  fill: #ffffff;
}

.main-chat-panel {
  overflow-y: auto;
}

.message {
  border-style: solid;
  max-width: 30%;
  min-width: 0%;
  width: auto;
  overflow-wrap: break-word;
  display: inline-block;
  text-align: left;
  margin: 1% 1%;
  padding: 0.5% 0.5%;
  font-size: 25px;
}
.user-profile {
  width: 3%;
  display: inline-block;
  margin: 1% 0% 1% 1%;
  object-fit: contain;
  vertical-align: top;
}
